---
title: Get prepared for the VCA exam
---

<div id="wrapper">
  <header>
    <span class="logo">
      Safe<span class="highlight">T</span>first
    </span>
    <span class="tagline">Get prepared for the VCA exam</span>
    <nav id="mainnav">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Course</a></li>
        <li><a href="">Progress</a></li>
        <li class="login">acandaele <i class="fa fa-caret-down"></i></li>
      </ul>
    </nav>
  </header>
  <div class="canvas">
    <nav class="leftnav">
      <ul>
        <li><i class="fa fa-caret-right"></i><a href="javascript:void(0)" class="js-accordion-trigger">Chapter1: Personal Protective Equipment</a>
        <ul class="submenu">
          <li>Content</li>
          <li>Quiz</li>
        </ul>
        </li>
        <li><i class="fa fa-caret-right"></i><a href="javascript:void(0)" class="js-accordion-trigger">Chapter2: Personal Protective Equipment</a>
        <ul class="submenu">
          <li>Content</li>
          <li>Quiz</li>
        </ul>
        </li>
        <li><i class="fa fa-caret-right"></i><a href="javascript:void(0)" class="js-accordion-trigger">Chapter3: Personal Protective Equipment</a>
        <ul class="submenu">
          <li>Content</li>
          <li>Quiz</li>
        </ul>
        </li>
        <li><i class="fa fa-caret-right"></i><a href="javascript:void(0)" class="js-accordion-trigger">Chapter4: Personal Protective Equipment</a>
        <ul class="submenu">
          <li>Content</li>
          <li>Quiz</li>
        </ul>
        </li>
        <li><i class="fa fa-caret-right"></i><a href="javascript:void(0)" class="js-accordion-trigger">Chapter5: Personal Protective Equipment</a>
        <ul class="submenu">
          <li>Content</li>
          <li>Quiz</li>
        </ul>
        </li>
        <li><i class="fa fa-caret-right"></i><a href="javascript:void(0)" class="js-accordion-trigger">Chapter6: Personal Protective Equipment</a>
        <ul class="submenu">
          <li>Content</li>
          <li>Quiz</li>
        </ul>
        </li>
        <li><i class="fa fa-caret-right"></i><a href="javascript:void(0)" class="js-accordion-trigger">Chapter7: Personal Protective Equipment</a>
        <ul class="submenu">
          <li>Content</li>
          <li>Quiz</li>
        </ul>
        </li>
        <li><i class="fa fa-caret-right"></i><a href="javascript:void(0)" class="js-accordion-trigger">Chapter8: Personal Protective Equipment</a>
        <ul class="submenu">
          <li>Content</li>
          <li>Quiz</li>
        </ul>
        </li>
      </ul>
    </nav><!-- leftnav -->
    <div class="inner">
      <nav class="breadcrumb">
        <ul>
          <li>Chapter 1: Personal Protective Equipment</li>
          <li>Safety Vest</li>
        </ul>
        </nav><!-- breadcrumb" -->
      <nav class="pagenav">
        <i class="fa fa-chevron-left"></i>
        <ul>
          <li><i class="fa fa-file-o"></i></li>
          <li><i class="fa fa-file-o"></i></li>
          <li><i class="fa fa-file-o"></i></li>
        </ul>
        <i class="fa fa-chevron-right"></i>
      </nav><!-- pagenav -->
      <div class="content">
      <h1>Safety Vest</h1>
      <p>What you should now about a safety vest</p>
      <video src="videofile.ogg" autoplay poster="images/poster.jpg">
          Sorry, your browser doesn't support embedded videos, 
            but don't worry, you can <a href="videofile.ogg">download it</a>
              and watch it with your favorite video player!
      </video>
      </div>
      </div><!-- inner -->
  </div><!-- content -->
</div>
<script>
$('.js-accordion-trigger').bind('click', function(e){
  jQuery(this).parent().find('.submenu').slideToggle('fast');  // apply the toggle to the ul
  jQuery(this).parent().toggleClass('is-expanded');
  jQuery(this).prev().toggleClass('fa-caret-right fa-caret-down');
  e.preventDefault();
});
</script>
