---
title: Get prepared for the VCA exam
---

<div id="wrapper">
  <header>
    <span class="logo">
      Safe<span class="highlight">T</span>first
    </span>
    <span class="tagline">Get prepared for the VCA exam</span>
    <nav id="mainnav">
      <ul>
        <li>Home</li>
        <li>Course</li>
        <li>Progress</li>
        <li class="login">acandaele</li>
      </ul>
    </nav>
  </header>
  <div class="canvas">
    <nav class="leftnav">
      <ul>
        <li><a href="">Chapter1: Personal Protective Equipment</a></li>
        <li><a href="">Chapter2: Personal Protective Equipment</a></li>
        <li class="open"><a href="">Chapter3: Personal Protective Equipment</a>
        <ul>
          <li>Content</li>
          <li>Quiz</li>
        </ul>
        </li>
        <li><a href="">Chapter4: Personal Protective Equipment</a></li>
        <li><a href="">Chapter5: Personal Protective Equipment</a></li>
        <li><a href="">Chapter6: Personal Protective Equipment</a></li>
        <li><a href="">Chapter7: Personal Protective Equipment</a></li>
        <li><a href="">Chapter8: Personal Protective Equipment</a></li>
      </ul>
    </nav><!-- leftnav -->
    <div class="inner">
      <nav class="breadcrumb">
        <ul>
          <li>Chapter 1: Personal Protective Equipment</li>
          <li>Safety Vest</li>
        </ul>
        </nav><!-- breadcrumb" -->
      <nav class="pagenav">
        <i class="fa fa-chevron-left"></i>
        <ul>
          <li><i class="fa fa-file-o"></i></li>
          <li><i class="fa fa-file-o"></i></li>
          <li><i class="fa fa-file-o"></i></li>
        </ul>
        <i class="fa fa-chevron-right"></i>
      </nav><!-- pagenav -->
      <div class="content">
      <h1>Safety Vest</h1>
      <h2>What you should now about a safety vest</h2>
      <video src="videofile.ogg" autoplay poster="images/poster.jpg">
          Sorry, your browser doesn't support embedded videos, 
            but don't worry, you can <a href="videofile.ogg">download it</a>
              and watch it with your favorite video player!
      </video>
      </div>
      </div><!-- inner -->
  </div><!-- content -->
</div>
